.resume{
    width: auto;
    display: flex;
    justify-content: center;
    padding: 3em;
}

.DownloadResume-title{
    font-size: 2em;
    color: grey;
    padding-top: 2em;
    text-align: center;

}

.resume-image{
    width: 25em;
   align-self: center;
}


.button-container{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  border-top: 1px solid rgba(0,0,0,.125);
  padding-top: 2em;
}

.resume-download-container{
    border: 1px solid rgba(0,0,0,.125);
	padding: 3em 3em 2em 3em;
	margin: 3em;
}


.download-resume-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

        

     