@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100, 300,700&display=swap');

.Project-section-container{
    height: 55em;
    background-image: url('https://i.ibb.co/1rNTyX7/Untitled-design-6.png');
    background-repeat: no-repeat;
    background-size: 47em;
    margin-right: -1em;
    background-position: 100% 100%;
}


.Project-section-title{
    font-size: 2.4em;
    text-align: end;
    padding: 1.5em 2em 1em 0em;
    
}

.Project-project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    display: grid;
    grid-template-rows: 10% 15% 14% 50%;
    width: 22em;
    height: 17em;
    background-color: white;
    margin: 1em;
    box-shadow: 5px 2px 10px #888888;
    border-radius: 9px;
}

.project:hover{
    box-shadow: 10px 5px 20px 0px #888888;
}

.Projects-line-break{
    margin: 4em 4em 0em 4em;
    border-top:grey;
}

.project-title{
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.7em;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #222831;
    font-weight: bolder;
}

.coffee-gif, .frisbee-gif, .portfolio-gif, .mod-4, .capstone{
    width: 15em;
    margin-left: 3.5em;
}

.Project-github-logo{
    width: 1.5em;
    align-self: flex-end;
    margin-left: 1em;
    margin-top: 1em;
}

.project-about{
    font-size: 0.8em;
    text-align: center;
    margin: 0em 2em 0em 2em;
    font-family: 'Noto Sans JP', sans-serif;
}