/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset CSS style above */

.App {
  font-family: 'Raleway', sans-serif;
  color:#4d4646;
  width: 100%;
}

.main-header{
  display: flex;
}

.greeting-container{
  font-size:4em; 
  align-self: center;
  margin-left: 2.6em;
  border: none;

}


p  {
  font-size: .2em;
}

body {
  display: flexbox;
  height: 30rem;
}


.about-me-section {

  background-color:#d8cbbb;
  font-size:4em; 
  padding: 1em;

}

.about-me-box{
  box-shadow: 10px 10px 11px #888888;
  width: 4em;
  height: 4em;
  background-color: white;
  margin: .4em;
  padding: 1em;
  float: left;
  justify-content: space-around;
  
}

.back-end{
  box-shadow: 10px 10px 11px #888888;
  width: 4em;
  height: 4em;
  background-color: white;
  margin: 1em;
  font-size: 1em;
  display: inline-block;
}

.design {
  box-shadow: 10px 10px 11px #888888;
  width: 4em;
  height: 4em;
  background-color: white;
  margin: 1em;
  display: inline-block;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c7658;
}

li {
  float: right;
  padding: .7em;
}

li a {
  display: block;
  font-weight: 500;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  font-weight: 800;
}


