@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100, 300,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset CSS style above */
body{
  font-family: 'Raleway', sans-serif;
}

.HomePage {
  font-family: 'Raleway', sans-serif;
  color:#4d4646;
  width: 100%;
}

.navbar{
  background-color: #537ec5;
  color: white;
  height: 4em;
  display:flex;
  justify-content: flex-end;
 
}

.NavBar-links{
  color:white;
  font-size: 1.1em;
  text-decoration: none;
  padding-right: 1.3em;
  align-self: center;
  font-family: 'Raleway', sans-serif;
}

.NavBar-links:hover{
  font-weight: 900;
} 

.main-header{
  display: flex;
  height: 43em;
  margin-top: 4em;
}

.greeting-container{
  font-size:4em; 
  align-self: center;
  margin-left: 2.6em;
  border: none;
}

p  {
  font-size: .4em;
  padding-top:0.5em;
}

.about-me-section {
  background-color:#e3b04b;
  color:white;
  font-size:4em; 
  padding: 0.5em;
  height: 6.9em;
}

.box-body-container{
display: flex;
justify-content: center;
margin-top: 0.5em;
}

.HomePageBlock-icon{
  width: 2.7em;
  justify-self: center;
  margin: 2.4em;
}

.HomePageBlocks-about-me{
padding-top: 1em;
font-size: 0.6em;
display: grid;
justify-content: center;
text-align: center;
}

.HomePageBlocks-about-me-paragraph{
  width: 43em;
  text-align: center;
  font-size: 0.49em;
  margin: 1em 0em 0em 0em;
  line-height: 1.1em;
}

.HomeBlock-box-text-content{
  margin-left: 4em;
  font-size: 0.8em;
  padding: 2em;
  font-family: 'Noto Sans JP', sans-serif;
  list-style-type: circle;
  color: #222831;
}

.HomePageBlock-header-sub-text{
  font-size: 0.8em;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 0.4em 2em 1em 2em;
}

.box-1, .box-2, .box-3{
  box-shadow: 12px 17px 15px #868686;
  border-radius:4em;
  align-self: center;
  width:18em;
  height: 17em;
  background-color: white;
  color: #222831;
  margin: 1em;
  float: left;
  font-size: 0.3em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 32% 6.5% 9% 50%;
}

.box-1:hover, .box-2:hover, .box-3:hover  {
  transform: scale(1.03); 
}

.HomePageBlock-header-text{
  text-align: center;
  font-size: 1em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #222831;
}


.space-divider{
    height: 20em;
    background-image: url('https://i.ibb.co/HDysbgx/marble.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
   background-size: 90em;
}

footer{
  background-color: #323232;
  background-image: url("https://i.ibb.co/LdRLTm3/classy-fabric.png");
  color: #5d5b6a;
  height: 12em;
}

.signature{
  width: 10em;
  height: 5em;
  padding-right: 1em;
  padding-bottom: 1em;
  align-self: center;
}

.Footer-main-content{
  display: flex;
  justify-content: center;
}

.Footer-signature-links-container{
  display: flex;
  justify-content: center;
  padding-right: 4em;
  padding-left: 4em;
}

.Footer-content{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1em;
  font-weight: 900;
  padding: 1em 0em 1em 0em;
}

.Footer-links{
  width: 2em;
  height: 2em;
  margin:  0.5em;
}


.Footer-get-connected-container, .Footer-signature-links-container, .Footer-get-connected-container{
margin: 2.1em 1em 1em 1em;
width: 24em;
}

.get-connected-text{
  font-size: 0.9em;
}

.Footer-navigation-content{
  display: Flex;
  padding: 2em 1em 1em 1em;
}

.Footer-navigation{
  font-size: 1em;
  color: #5d5b6a;
  text-decoration: none;
  padding: 0em 0.5em 1em 0.5em;
}
.Footer-navigation:hover{
  font-weight: 900;
}

